<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Mars Rover Images</title>
  </head>
  <body>
      <div class="text-center" style="background-color: black">
        <h1 class="text-white">Rover Criteria Selection</h1>
        <img src="https://boygeniusreport.files.wordpress.com/2019/05/capture-26.jpg?quality=70&strip=all&w=782" alt="Curiosity" style="max-width:50%">
      </div>

      <div class="container-fluid text-center text-white" style="background-color: black">
        <h2>Select Date</h2>
        <form action="/pic_date" method="post">
          <div class="input-append date" id="datetimepicker" data-date="2012-08-06" data-date-format="yyyy-mm-dd">
            $('#datetimepicker').datetimepicker('setStartDate', '2012-08-06');
            $('#datetimepicker').datetimepicker('setEndDate', '2020-06-19');
            <input class="span2" size="16" type="text" value="2012-08-06">
            <span class="add-on"><i class="icon-th"></i></span>
          </div> 
          <div class="radio">
            <label><input type="radio" name="optcam" value="FHAZ" checked> Front Hazard Avoidance Camera</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optcam" value="RHAZ"> Rear Hazard Avoidance Camera</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="optcam" value="MAST"> Mast Camera</label>
          </div>
          <div class="container" style="background-color: black">
            <button type="submit" class="btn btn-default btn-lg" style="background-color: white" value="Rover">Next</button>
          </div>
      </div>
  </body>
</html>